annotated-doc
annotated-types
anyio
click
colorama
et_xmlfile
fastapi
h11
idna
numpy
openpyxl
pandas
pydantic
pydantic_core
python-dateutil
python-multipart
six
starlette
typing-inspection
typing_extensions
tzdata
uvicorn
mangum
